$Bigscreen:'(min-width:1400px)';
$MiddleLapTop:'(max-width:1400px)';
$LapTop:'(max-width:1200px)';
$Tab:'(max-width:1025px)';
$SmallTab:'(max-width:768px)';
$Mobile:'(max-width:556px)';
$SmallMobile:'(max-width:480px)';

