.turfirmi_section_hero {
  padding-top: 80px;
  margin-top: 130px;
  background-image: url(../image/bg.png);
  background-size: cover;
  background-position: top center;
  @media #{$Mobile} {
    background-position: bottom;
  }
  .container {
    overflow: hidden;
    background-size: 100% 100%;
    position: relative;
    padding: 0 15px;
    @media #{$Mobile} {
      padding-bottom: 200px;
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
    }
    &::after {
      background-image: url(../image/globus.png);
      width: 290px;
      height: 280px;
      right: 200px;
      top: 25px;
      background-repeat: no-repeat;
      @media #{$SmallTab} {
        right: 80px;
        top: 75px;
      }
      @media #{$Mobile} {
        top: auto;
        bottom: 0;
        left: -10px;
        width: 240px;
        height: 210px;
        background-size: contain;
      }
    }
    &::before {
      background-image: url(../image/chemodan.png);
      width: 206px;
      height: 290px;
      right: 50px;
      top: 35px;
      background-repeat: no-repeat;
      z-index: 9;

      @media #{$SmallTab} {
        right: 0;
        top: 75px;
      }
      @media #{$Mobile} {
        top: auto;
        bottom: -60px;
        right: 0;
        background-size: contain;
        width: 156px;
        height: 250px;
      }
    }
  }

  .col-md-5 {
    flex-direction: column;
    gap: 40px 0;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .content_wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px 0 40px 0;
  }

  .turfirm_title {
    color: rgba(255, 255, 255, 1);
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0em;
    text-align: left;
  }

  .input_item {
    display: flex;
    position: relative;
    z-index: 1;
    gap: 20px;
    @media #{$SmallTab} {
      flex-direction: column;
    }
    input {
      position: relative;
      z-index: 1;
      border-radius: 8px;
      border: 1px solid #e5edfe;
      background: #fff;
      background-image: url(../image/dropdown_turfirm.png);
      background-repeat: no-repeat;
      background-size: 24px;
      background-position: calc(100% - 10px) calc(50%);

      color: #c8c8c8;
      padding: 10px 16px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      outline: none;
      &::placeholder {
        color: #c8c8c8;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
      &#search {
        width: 475px;
        @media #{$SmallTab} {
          width: 290px;
        }
        @media #{$Mobile} {
          width: 100%;
        }
      }
      &#city {
        width: 280px;
        @media #{$SmallTab} {
          width: 290px;
        }
        @media #{$Mobile} {
          width: 100%;
        }
      }
    }

    .drop_search {
      position: absolute;
      top: 0;
      right: 10px;
      z-index: 92;
    }
  }
}

.firms {
  margin: 40px 0;

  .turfirmi_main {
    display: flex;

    justify-content: space-between;

    @media #{$Mobile} {
      flex-direction: column;
    }
    .turfirmi_locationes {
      display: flex;
      flex-direction: column;
      gap: 25px;
      flex: 0 0 calc(76% - 12.5px);

      @media #{$LapTop} {
        flex: 0 0 calc(63% - 12.5px);
      }
      .turfirmi_location_card {
        border-radius: 8px;
        border: 1px solid #ccdbfd;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 16px;
        @media #{$Tab} {
          padding: 16px;
        }
        .turfirmi_location_card_title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          @media #{$Mobile} {
            align-items: flex-start;
          }
          .title_name {
            font-family: Manrope;
            font-size: 22px;
            font-weight: 600;
            color: #3170f6;
            @media #{$Mobile} {
              font-size: 18px;
            }
          }
        }

        .turfirmi_location_card_info {
          display: flex;
          align-items: center;
          justify-content: space-between;

          padding: 20px;
          border-radius: 4px;
          background-color: #f2f4fb;
          @media #{$Tab} {
            padding: 16px;
          }
          @media #{$SmallTab} {
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
          }
          .turfirmi_card_location,
          .turfirmi_card_phone_number {
            display: flex;
            align-items: center;
            gap: 4px;
            padding-right: 0;

            a {
              color: #3170f6;
              font-size: 16px;
              font-weight: 600;

              @media #{$SmallTab} {
                font-size: 14px;
              }
            }
          }
          .turfirmi_card_location {
            @media #{$Tab} {
              flex: 0 0 40%;
            }
          }
          .turfirmi_card_phone_number {
            @media #{$Tab} {
              flex: 0 0 10%;
            }
          }
          .tel_number {
            span {
              color: #011927;
              font-family: Manrope;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              display: flex;
              align-items: center;
              @media #{$MiddleLapTop} {
                display: none;
              }
            }
            .mob_icon {
              display: none;
              @media #{$MiddleLapTop} {
                display: block;
              }
            }
            @media #{$MiddleLapTop} {
              background-color: #fff;
              border-radius: 12px;
              border: 2px solid #1eb2f1;
              background: #fff;
              padding: 15px;
            }
          }

          .turfirmi_card_phone_number {
            padding-right: 0;
          }

          button {
            padding: 12px 32px 14px 32px;
            border-radius: 12px;
            border: 2px solid #1eb2f1;
            background: #fff;
            color: #3170f6;
            text-align: center;
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
      .turfirmi_card_buttons {
        display: flex;
        align-items: stretch;
        gap: 10px;

        @media #{$SmallTab} {
          width: 100%;
        }
        .button_outline_white {
          flex: 1 1 auto;
        }
      }
    }

    .turfirmi_description {
      flex: 0 0 calc(24% - 12.5px);

      display: flex;
      flex-direction: column;
      gap: 25px;
      @media #{$Tab} {
        flex: 0 0 calc(37% - 12.5px);
      }
      .turfirmi_description_card {
        // border: 1px solid yellow;
        display: flex;
        flex-direction: column;
        // justify-content: flex-end;
        // align-items: flex-start;
        gap: 20px;
        padding: 20px 20px 12px 20px;
        border-radius: 8px;
        background-color: #ffff;

        .turfirm_card_title {
          color: #034269;
          font-size: 16px;
        }

        .turfirmi_prices {
          .turfirmi_price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 16px;
            border-bottom: 1px solid #f2f4fb;
            padding-bottom: 8px;
            margin-bottom: 8px;
            a {
              color: #3170f6;

              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              letter-spacing: 0.32px;
              @media #{$SmallTab} {
                font-size: 14px;
              }
            }

            span {
              color: #034269;
              font-weight: 600;
              @media #{$SmallTab} {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    .season {
      border-radius: 8px;
      background: #fff;
      padding: 20px 0 20px 20px;

      .span {
        color: #034269;
        font-weight: 600;
      }

      .seasones {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        margin-top: 20px;
        .season_month {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .month {
            color: #034269;
            font-size: 10px;
            letter-spacing: 0.8px;
            text-transform: uppercase;
          }

          a {
            color: #3170f6;
            font-size: 12px;
            letter-spacing: 0.24px;
            @media #{$SmallTab} {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
.lists {
  margin-bottom: 80px;
  .lists__inner {
    max-width: 875px;
    border-radius: 8px 8px 8px 8px;
    background: #fff;
    padding: 10px;
  }
  .lists_header {
    background: #fff;
    border-bottom: 1px solid #ccdbfd;
    padding-bottom: 10px;
    margin-bottom: 20px;
    .label {
      margin-bottom: 8px;
    }
    .letters_block {
      border-radius: 4px;
      background: #f2f4fb;
      padding: 14px 10px;

      ul {
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        margin-bottom: 8px;
        a {
          text-transform: uppercase;
          color: #3170f6;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;

          &.current {
            color: #034269;
          }
          @media #{$SmallTab} {
            font-size: 10px;
          }
        }
      }
    }
  }
  .list_body {
    padding: 0 20px 20px;

    .list_names {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px 0;
      li {
        flex: 0 0 calc(25% - 12.5px);
        @media #{$Tab} {
          flex: 0 0 calc(33% - 24px);
        }
        @media #{$SmallTab} {
          flex: 0 0 calc(50% - 15px);
        }
        a {
          color: #3170f6;

          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 120%; /* 16.8px */
          transition: 0.4s all ease;

          &:hover {
            color: #034269;
          }
          @media #{$SmallTab} {
            font-size: 12px;
          }
        }
      }
    }
  }
}
